@font-face {
    font-family: 'Nunito Regular';
    src: url(../../fonts/Nunito-Regular.woff) format('woff');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Nunito SemiBold';
    src: url(../../fonts/Nunito-SemiBold.woff) format('woff');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Nunito ExtraBold';
    src: url(../../fonts/Nunito-ExtraBold.woff) format('woff');
    font-display: swap;
  }
  /* Page */
.page {
    background-color: #F9F9F9;
}

.shadow{
    display: none;
}

html{
    background-color: #F9F9F9;
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 10px;
    font-family: 'Nunito ExtraBold', sans-serif;
    background-color: #02522B;
}

.header_title {
    color: #FFFFFF;
    font-size: clamp(2.125rem, 1.6875rem + 1.9444vw, 3.4375rem);
    line-height: 36px;
    font-weight: 800;
}

.header_logo {
    width: clamp(2.5rem, 2.1875rem + 1.3889vw, 3.4375rem);
}

@media (width >= 768px) {
    .header {
        gap: 15px;
        padding: 30px 100px;
    }
} 

@media (width >= 1024px) {
    .header {
        padding: 30px 115px;
    }
}

.under_header {
    background-color: #02522B;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-inline: 10px;
    padding-block-end: 15px;
    border-bottom-right-radius: 50% 50px;
    border-bottom-left-radius: 50% 50px;
}

.under_header_title {
    font-family: 'Nunito ExtraBold', sans-serif;
    color: #FFFFFF;
    font-size: clamp(2.25rem, 1.8542rem + 1.7593vw, 3.4375rem);
    line-height: 36px;
    font-weight: 800;
    text-align: center;
}

.accent_color_yellow {
    color: #FF6B01;
}

.under_header_img {
    width: 210px;
}

/* MEDIA LAPTOP HEADER */

@media (width >= 768px) {

    .under_header {
        flex-direction: row-reverse;
        align-items: center;
        padding-inline: 100px;
        padding-block-end: 30px;
        border-bottom-right-radius: 50% 35px;
        border-bottom-left-radius: 50% 35px;
    }
    
    .under_header_title {
        line-height: 42px;
    }
}

/* MEDIA DESKTOP HEADER */

@media (width >= 1024px) {

    .under_header {
        padding-inline: 115px;
    }

    .under_header_title {
        line-height: 50px;
    }
}
/* NAVIGATION */

.nav_menu {
    margin-block: 30px;
}

@media (width >= 1024px) {
    .nav_menu {
        margin-block: 40px;
    }
}

.nav_menu_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.nav_menu_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    min-width: 140px;
    height: 30px;
    border: none;
    border-radius: 15px;
    background-color: #02522B;
    font-family: 'Nunito SemiBold', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    color: #FFFFFF;
    transition: background-color 0.3s;
}

.nav_menu_button:hover {
    cursor: pointer;
    background-color: #FF6B01;
}

.nav_menu_button:active {
    cursor: pointer;
    background-color: #FD3511;
}

.nav_menu_button:focus {
    outline: none;
}

.nav_menu_button:focus-visible {
    border: 2px solid #FF6B01;
}

.button_logo {
    width: 24px;
    height: 24px;
}

/* SECTION WELCOME */

.greeting {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-inline: 10px;
    margin-block-end: 30px;
}

@media (width >= 768px) {
    .greeting {
        padding-inline: 65px;
    }
}

@media (width >= 1024px) {
    .greeting {
        gap: 40px;
        padding-inline: 74px;
        margin-block-end: 40px;
    }
}

.greeting_title {
    font-family: 'Nunito SemiBold', sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 34px;
    color: #FF6B01;
    text-align: center;
}


.greeting_text {
    font-family: 'Nunito Regular', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
    text-align: center;
}

/* SECTION GALERY */

.galery {
    padding-inline: 10px;
    margin-block-end: 30px;
}

@media (width >= 768px) {
    .galery {
        padding-inline: 65px;
    }
}

@media (width >= 1024px) {
    .galery {
        padding-inline: 74px;
        margin-block-end: 40px;
    }
}

.galery_list {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.galery_list_item {
    box-sizing: border-box;
}

@media (width >= 768px) {
    .galery_list {
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .birthday {
        grid-column: span 2;
    }

    .mix {
        grid-row: span 2;
    }

    .swit {
        grid-row: span 3;
    }

    .meeting {
        grid-column: span 2;
    }
}

.galery_list_photo {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}


/* FOOTER */

.footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-inline: 10px;
    margin-block-end: 30px;
}

@media (width >= 768px) {
    .footer {
        padding-inline: 65px;
    }
}

@media (width >= 1024px) {
    .footer {
        padding-inline: 74px;
        margin-block-end: 40px;
        flex-direction: row;
        justify-content: space-around;
    }
}

.main_footer {
    font-family: 'Nunito ExtraBold', sans-serif;
    color: #FF7020;
    font-size: 34px;
    font-weight: 800;
    line-height: 36px;
    font-weight: 800;
}

.phone {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: 'Nunito Regular', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.social {
    display: flex;
    gap: 10px;
    align-items: center;
}

.social_title {
    font-family: 'Nunito Regular', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    font-weight: normal;
}
body {
    min-inline-size: 360px;
    max-inline-size: 1440px;
    margin: 0 auto;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  picture {
    margin: 0;
    padding: 0;
  }
  
  button,
  a {
    color: currentColor;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
  }
  