.popup {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 95vw;
    margin: auto;
    padding-block: 20px;
}

@media (width >= 768px) {
    .popup {
        width: 50vw;
    }
} 

.popup_title {
    font-family: 'Nunito SemiBold', sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 34px;
    color: #FF6B01;
    text-align: center;
}

.popup_log {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Nunito SemiBold', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.title_form {
    text-align: center;
}

.button_container {
    display: flex;
    gap: 20px;
}

.popup_form {
    width: 248px;
    height: 30px;
    padding: 5px;
}

.popup_button {
    margin-block-start: 15px;
    height: 30px;
    min-width: 90px;
    border: none;
    background-color: #02522B;
    color: #ffffff;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.popup_button:hover {
    cursor: pointer;
    background-color: #FF6B01;
}

.popup_button:active {
    cursor: pointer;
    background-color: #FD3511;
}

.popup_button:focus {
    outline: none;
}

.popup_button:focus-visible {
    border: 2px solid #FF6B01;
}
